body{
	background-color: #FAF9FB;
}

#menu-liste{
	background-color: #F2EFF3;
	border: 2px solid #BCBAC7;
}

.menu-liste-item a{
	color: #84828E;
}

.menu-liste-item a:hover{
	background-color: #84828E;
	color: #FAF9FB;
}

#page-actuelle{
	color: #84828E;
	background-color: #E3DFE6;
}

#contenu-apprentissage{
	width: 40vw;
	font-size: 22px;
}

h1{
	color: #65636D;
}

p{
	color: #211F26;
}

.titre-page{
	color: #E3DFE6;
}

#titre-page-gauche{
	left: 3vw;
}

#titre-page-droite{
	right: 3vw;
}