body{
	background-color: #FBFEFD;
}

#menu-liste{
	background-color: #E6F7ED;
	border: 2px solid #ACDEC8;
}

.menu-liste-item a{
	color: #26997B;
}

.menu-liste-item a:hover{
	background-color: #26997B;
	color: #F4FBF7;
}

button{
	padding: 8px 12px;
	font-size: 16px;
	border-radius: 15px;
	border: 0;
	transition: 0.2s;
	color: #F4FBF7;
	background-color: #26997B;
}

button:hover{
	cursor: pointer;
	background-color: #56BA9F;
}

#page-actuelle{
	color: #26997B;
	background-color: #C3E9D7;
}

.livre{
	display: flex;
	width: 50vw;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 60px;
}

.livre-image{
	height: 40vh;
	object-fit: contain;
}

.livre-description{
	width: 30vw;
}

p{
	color: #1D3B31;
}

h1{
	color: #1D3B31;
}

h2{
	color: #26997B;
}

.titre-page{
	color: #C3E9D7;
}

#titre-page-gauche{
	left: 3vw;
}

#titre-page-droite{
	right: 3vw;
}