body{
	background-color: #FFF7F8;
}

#menu-liste{
	background-color: #FFDCE1;
	border: 2px solid #E592A3;
}

.menu-liste-item a{
	color: #DC3B5D;
}

.menu-liste-item a:hover{
	background-color: #DC3B5D;
	color: #FFFCFD;
}

#page-actuelle{
	color: #DC3B5D;
	background-color: #F8BFC8;
}

#menu{
	padding: 2.6vh 0;
}

.carousel{
	width: 65vw;
	height: 75vh;
	margin-top: 18vh;
	border-radius: 30px;
}

img{
	object-fit: cover;
	max-height: 75vh;
	border-radius: 30px;
}

.titre-page{
	color: #F8BFC8;
}

#titre-page-gauche{
	left: 1vw;
}

#titre-page-droite{
	right: 1vw;
}