body{
	background-color: #FDF7FD;
}

#menu-liste{
	background-color: #FBEBFB;
	border: 2px solid #DEADE3;
}

.menu-liste-item a{
	color: #53195D;
}

.menu-liste-item a:hover{
	background-color: #A144AF;
	color: #FDF7FD;
}

#page-actuelle{
	color: #53195D;
	background-color: #F2D1F3;
}

#contenu{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#experience{
	display: flex;
	flex-direction: column;
}

.experience-item{
	width: 30vw;
	height: 8vh;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	transition: 0.3S;
}

.experience-item:hover{
	height: 22vh;
	background-color: #FBEBFB;
	cursor: pointer;
}

.experience-item p{
	width: 25vw;
	font-size: 20px;
}

h1{
	font-size: 45px;
	color: #53195D;
}

h2{
	font-size: 30px;
	color: #A144AF;
	margin: 2vh 0;
}

p{
	color: #53195D;
	margin: 5px;
}